<td>
	<%= social_account.social_network %>
</td>
<td>
	<%= social_account.user_name %>
</td>
<td>
    <%= link_to (I18n.t 'social_accounts.social_account_view.link_label'), generate_link(social_account) %>
</td>
