<h1><%=  I18n.t 'social_accounts.edit.heading' %></h1>
<%= render 'social_accounts/form', submit_label: (I18n.t 'social_accounts.edit.update_label') %>
<%= link_to (I18n.t 'social_accounts.edit.back_label'), edit_user_path(@user) %>
