<h1>My Contact Request</h1>

<% if user_signed_in? %>
  <table>
    <thead>
    <tr>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |requester| %>
      <tr>
        <td><%= requester.email %></td>
        <td><%= button_to '✓', accept_user_contact_request_path(current_user, requester), method: :patch%></td>
        <td><%= button_to '❌', user_contact_request_path(current_user, requester), method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>