<div class="chat-item <% if message.user == current_user  %> chat-item-me <% end %> d-flex flex-row">
  <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
  <div class="chat-content">
    <a href="<%= user_path(message.user) %>" class="chat-author"><%= message.user.display_name %></a>
    <div class="text-sm">
      <%= message.message %>
    </div>
    <div class="chat-date text-sm d-md-block">
      <%= message.formatted_time %>
    </div>
  </div>
</div>
