<div id="error_explanation">
  <% flash.each do |level, log| %>
      <div class='alert alert-<%= level %>'>
        <h4><%= log[:heading] %></h4>
        <% log[:messages].each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
        <% end %>
      </div>
  <% end %>
</div>
