<%= form_for(@user, local: true, url: update_status_user_path(@user)) do |f| %>
  <div class="field">
    <%= f.label :current_status %>
    <%= f.select(:current_status, @user.select_status_list) %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('user.status.change') %>
  </div>
<% end %>
