<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= button_to '+', add_contact_user_path(user), method: :patch, id: user.id %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
