<div class="card">
  <label for="activity-textarea">Post new activity</label>
  <textarea id="activity-textarea" name="activity-textarea" rows="4" cols="10"></textarea>
  <button class="btn-secondary">Post</button>
</div>
<div>
  <h1 class="center-heading"><%= I18n.t('dashboard.last_activities') %></h1>
  <ul>
    <li class="list-group-item">Activity 1</li>
    <li class="list-group-item">Activity 2</li>
  </ul>
</div>