<div class="col-sm" id="activities-container">
  <div class="card">
    <label for="activity-textarea">Post new activity</label>
    <textarea id="activity-textarea" name="activity-textarea" rows="4" cols="10"></textarea>
    <button class="btn-secondary">Post</button>
  </div>
  <div>
    <h3>Last activities</h3>
    <ul>
      <li class="list-group-item">Activity 1</li>
      <li class="list-group-item">Activity 2</li>
    </ul>
  </div>
</div>
