<h1 class="center-heading">Global Chat</h1>
<div id="chat-messages" class="scroll-styled">
  <div class="chat-item d-flex flex-row">
    <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
    <div class="chat-content">
      <a href="#" class="chat-author">Sam Kuran</a>
      <div class="text-sm">
        For what reason would it be advisable for me to think about business content?
      </div>
      <div class="chat-date text-sm d-md-block">
        24.12.20 13:37
      </div>
    </div>
  </div>

  <div class="chat-item chat-item-me d-flex flex-row">
    <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
    <div class="chat-content">
      <a href="#" class="chat-author">Sam Kuran</a>
      <div class="text-sm">
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
      </div>
      <div class="chat-date text-sm d-md-block">
        24.12.20 13:37
      </div>
    </div>
  </div>
  <div class="chat-item d-flex flex-row">
    <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
    <div class="chat-content">
      <a href="#" class="chat-author">Sam Kuran</a>
      <div class="text-sm">
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
      </div>
      <div class="chat-date text-sm d-md-block">
        24.12.20 13:37
      </div>
    </div>
  </div>
  <div class="chat-item d-flex flex-row">
    <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
    <div class="chat-content">
      <a href="#" class="chat-author">Sam Kuran</a>
      <div class="text-sm">
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
      </div>
      <div class="chat-date text-sm d-md-block">
        24.12.20 13:37
      </div>
    </div>
  </div>
  <div class="chat-item d-flex flex-row">
    <div class="avatar-container d-flex align-items-end"><a href="#"><span class="w-48 avatar"><i class="fa fa-user"></i></span></a></div>
    <div class="chat-content">
      <a href="#" class="chat-author">Sam Kuran</a>
      <div class="text-sm">
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
        For what reason would it be advisable for me to think about business content?
      </div>
      <div class="chat-date text-sm d-md-block">
        24.12.20 13:37
      </div>
    </div>
  </div>
</div>
