<div class="col-sm" id="proposals-container">
  <h3>Current proposals</h3>
  <div class="card">
    <h4>Tim Tom</h4>
    <p>Proposal 1</p>
    <button onclick="alert('Do not press this')" class="btn-secondary">Accept proposal</button>
  </div>
  <div class="card">
    <h4>Hasso P.</h4>
    <p>Proposal 2</p>
    <button class="btn-secondary">Accept proposal</button>
  </div>
</div>
