<div id="status-container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Set status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">available</a>
      <a class="dropdown-item" href="#">working</a> <!-- should be done dynamically-->
    </div>
  </div>
</div>