<div>
  <h4>List of users:</h4>
  <ul>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
    <li class="list-group-item">Person Personson</li>
  </ul>
</div>
