<h1 class="center-heading"><%= I18n.t('dashboard.user_list') %></h1>

<div>
  <%= render 'status_dropdown' %>
</div>

<div class="user-list scroll-list scroll-styled">
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>
  <div class="user-list-item d-flex">
    <div class="user-avatar d-flex">
      <span><i class="fa fa-user"></i></span>
    </div>
    <div class="col user-name">
      Person Personson
    </div>
    <div class="user-meeting d-flex">
      <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
    </div>
  </div>

</div>