<h1 class="center-heading"><%= I18n.t('dashboard.user_list') %></h1>
<ul>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
  <li class="list-group-item">Person Personson</li>
</ul>