<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'home_mobile', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="dashboard">
  <div id="content">
      <div id="users">
        <%= render 'proposals' %>
      </div>
  </div>
</div>
