<h1>My Contacts</h1>

<% if user_signed_in? %>

  <p><%= button_to 'View my requests', user_contact_requests_path(current_user), method: :get, :class => "btn btn-outline-primary" %></p>
  <div>
    <% @contacts.each do |contact| %>
      <%= render partial: 'users/card', locals: { user: contact, mode: :overview } %>
      <br>
    <% end %>
<% end %>
</div>
