<h1>My Contacts</h1>

<% if user_signed_in? %>

  <p><%= button_to 'View my requests', user_contact_requests_path(current_user), method: :get %></p>

  <% @contacts.each do |contact| %>
   <div class="card">
     <div class="card-body">
       <div class="container">
         <div class="row">
           <div class="col">
             <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" class="rounded-circle" style="width: 50px">
           </div>
           <div class="col-10">
             <h5 class="card-title">Herrmann<%= contact.firstname %></h5>
             <p class="card-link"><i><%= contact.email %></i></p>
           </div>
         </div>
         <div class="row">
           <div class="col">
             <a href="https://github.com">
               <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" class="rounded-circle" style="width: 50px">
             </a>
           </div>
           <div class="col">
             <a href="https://github.com">
               <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" class="rounded-circle" style="width: 50px">
             </a>
           </div>
           <div class="col">
             <a href="https://github.com">
               <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" class="rounded-circle" style="width: 50px">
             </a>
           </div>
         </div>
        </div>
       </div>
     </div>

    <%end %>
<% end %>