<h1>My Contacts</h1>

<% if user_signed_in? %>

  <p><%= button_to 'View my requests', view_contact_request_user_path(current_user), method: :get,  :form =>{:id => current_user.id}%></p>

  <table>
    <thead>
    <tr>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>