.container {
  max-width: unset;
  height: 100%;
}

html, body {
  position:relative;
  height: calc(100% - 48px); /* Subtract the height of the navbar, change if navbar has new design */
}

#dashboard {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
}

#status, #navigation {
  flex-grow: 0;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.tab-content {
  width: 100%;
}

.refresh-container {
  position: absolute;
  right: 30px;
  bottom: -30px;
  background: #0e4da4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: table;
  z-index: 1;
  cursor: pointer;
}

.refresh-icon {
  font-size: 2rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#users {
  width: 100%;
}
