/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

/*
 * Remove all the *= require and *= require_tree statements from the Sass file.
 * Instead, use @import to import Sass files.
 * Do not use *= require in Sass or your other stylesheets will not be
 * able to access the Bootstrap mixins and variables.
 * See: https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
 */

// Custom bootstrap variables must be set or *before* bootstrap is imported
// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
$primary: #dd6108;
$primary-active: #ef8d47;
$primary-hover: #cc5908;
$danger: #c60505;
$success: #00911f;
$content_size: calc(100% - 48px);
// $secondary: #dd6108;
// $success: #dd6108;
// $info: #dd6108;
// $warning: #dd6108;
// $danger: #dd6108;
// $light: #dd6108;
// $dark: #dd6108;

// https://github.com/twbs/bootstrap-rubygem
@import 'bootstrap';
// https://github.com/bokmann/font-awesome-rails
@import 'font-awesome';

// app/assets/stylesheets/shared.scss
@import 'shared';
@import 'popup';
// app/assets/stylesheets/home.scss
html, body {
  position:relative;
  height: $content_size; /* Subtract the height of the navbar, change if navbar has new design */
}

//= require_tree

.container {
  max-width: unset;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.navbar-desktop-part {
  display: none;
}

// reduce font size for the h1 headers
h1 {
  font-size: 2.5rem !important;
}
