// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$bgcolor: pink;

table-elements {
    background-color: $bgcolor;
}

th {
    @extend table-elements;
}

td {
    @extend table-elements;
}