// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-item {
  color: white;
  padding: 10px;
}

.portal-link {
  color: white;
}

.portal-link {
  color: white;
}

.spinning {
  animation: spinner-border 1.5s linear infinite;
}

.busy-container {
  margin: 30% auto auto;
  font-size: 1.5rem;
}

.user-card-body {
  padding: 0.6rem;
}
