<div class="card popup" style="display: none">
  <div class="card-body d-flex popup-content">
    <div class="d-flex"><span class="popup-icon-container"><i id="popup-icon" class=""></i></span></div>
    <div style="padding-right: 10px">
      <p class="card-text popup-text">No content in this popup</p>
      <div class="popup-button-row"></div>
    </div>
  </div>
</div>
<script>
    /**
     * @function generatePopup
     * @param {String} text Text to be shown in the popup, e.g. "Waiting for response"
     * @param {String} icon A font-awesome icon tag, e.g. 'fa-phone'
     * @param {Array} buttons Array of buttons to be rendered, that are given in the form of objects with the properties:
     *     <br>
     *     - `label` - What text is on the button<br>
     *     - `action` - A function that is executed on click <br>
     *     - `hideAfterClick` - Determines if the popup should be hidden on click, default value is true
     * @param {Number} timeout milliseconds after which the popup disappears, a value of -1 means no fade out (default)
     * @example
     * generatePopup("A text", "fa-phone", [{"label": "Accept", "action":() => alert('Have fun!')}], 1337)
     */
    function generatePopup(text, icon, buttons = [], timeout = -1) {
        const defaultIconClasses = "fa popup-icon";
        const $popup = $(".popup");
        $popup.fadeIn("slow");
        $(".popup-text").text(text);
        $("#popup-icon").removeClass().addClass(defaultIconClasses).addClass(icon);

        $(".popup-button-row").text("");
        buttons.forEach(buttonSpec => {
            let $button = $(document.createElement("button")).appendTo(".popup-button-row");
            $button.addClass("btn popup-button btn-outline-light btn-sm");
            $button.click(() => {
                if (!("hideAfterClick" in buttonSpec) || buttonSpec.hideAfterClick) {
                    hidePopup();
                }
                (buttonSpec.action)();
            });
            $button.text(buttonSpec.label);
        });
        if (timeout !== -1) {
            $popup.delay(timeout).fadeOut();
        }
    }

    function hidePopup() {
        $(".popup").stop().fadeOut();
    }

    function popupExample() {
        generatePopup(
            "You have been invited to a call by Alfred Nobel",
            "fa-phone",
            [
                {
                    "label": "Accept",
                    "action": () => alert('Have fun!')
                },
                {
                    "label": "Deny",
                    "action": () => alert("Maybe next time ¯\\_(ツ)_/¯"),
                    "hideAfterClick": false
                }
            ],
            30000);
    }
</script>
