<title>Connections Portal</title>
<% if current_user %>
  <meta data-channel-subscribe="notification" data-notification-id="<%= current_user.id %>"/>
<% end %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
